#link { 
    color:rgb(201, 218, 218);
    margin:25%;
    text-align: center;
 }

#pbold {
    font-weight: bold;
}

p.clear {
clear: both;
} 

#tdmin{
    background-color:green;
}
#tdmax{
    background-color: red;
}